@font-face {
	font-family: Edge;
	src: url(assets/edge.otf);
}

@font-face {
	font-family: SpaceMono;
	src: url(assets/SpaceMono-Regular.ttf);
}
@font-face {
	font-family: SpaceMono;
	src: url(assets/SpaceMono-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: SpaceMono;
	src: url(assets/SpaceMono-Italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: SpaceMono;
	src: url(assets/SpaceMono-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

:root {
	--spec-orange:rgb(209, 67, 15);
	--spec-black: rgb(14, 14, 14);
}

body {
	font-family: SpaceMono, monospace;
	color: var(--spec-orange);
	background-color: var(--spec-black);
}

h1, h2, h3 {
	color: white;
	text-transform: uppercase;
}
h3 {
	text-transform: lowercase;
}

.title {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#title {
	font-family: Edge;
	font-size: 100px;
	height: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#title > .letter {
	display: inline-block;
	transition: translate 2s;
}

#sub {
	opacity: 0;
	color: white;
	transition: 1s;
}

.navbar {
	position: fixed;
	bottom: 20px;
	left: 50%;
	translate: -50% 0;
	background-color: var(--spec-orange);
	box-sizing: border-box;
	border-radius: 100vmin;
	padding: 2px;
	display: flex;
	width: 400px;
	z-index: 2;
}
.navbar > a {
	background-color: var(--spec-black);
	border-radius: 100vmin;
	transition: 0.2s;
	flex: 1;
	text-align: center;
	margin: 4px;
	padding: 4px;
	border: solid var(--spec-orange);
	box-sizing: border-box;
}
.navbar > a.active {
	background-color: white;
	color: var(--spec-orange);
}
.navbar > a:hover {
	border: solid var(--spec-black);
}
.navbar > a.active:hover {
	border: solid white;
}

.content {
	position: absolute;
	top: 100vh;
	padding: 50px;
	padding-bottom: 50vh;
	box-sizing: border-box;
	width: 100vw;
	text-align: center;
	max-width: 800px;
	left: 50%;
	translate: -50% 0;
}

b {
	color: white;
}

.bigGrid {
	display: flex;
	position: absolute;
	left: 0;
	top: 95vh;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 100px;
	padding-bottom: 100px;
	flex-wrap: wrap;
	background-color: var(--spec-black);
}
.tags {
	display: flex;
	flex-wrap: wrap;
}
.tags > button {
	border: solid 1px var(--spec-orange);
	background-color: transparent;
	font-family: inherit;
	color: inherit;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	transition: 0.2s;
}
.tags > .tagSelected {
	background-color: var(--spec-orange);
	color: var(--spec-black);
}
.tags > .tagSelected:hover, .tags > button:hover {
	opacity: 0.5;
}
.left, .right {
	flex:1;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.left {
	border-right: solid 1px rgba(255, 255, 255, 0.1);
}
.story {
	padding: 30px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	position: relative;
	text-decoration: none;
	color: inherit;
}

form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

input, textarea {
	margin-bottom: 20px;
	margin-top: 10px;
	font-family: inherit;
	font-size: inherit;
	border-radius: 10px;
	border: none;
	padding: 10px;
}

textarea {
	height: 100px;
}

input[type="submit"] {
	border: none;
	padding: 10px;
	background-color: var(--spec-orange);
	border-radius: 100vmin;
	color: white;
}

.story {
	text-transform: uppercase;
}
sub {
	display: block;
	color: white;
}
.story > sub {
	text-transform: lowercase;
}

.author {
	position: absolute;
	right: 5px;
	top: 5px;
	color: rgba(255, 255, 255, 0.2);
	font-size: 12px;
	text-transform: capitalize;
}
.author::before {
	content: "(";
}
.author::after {
	content: ")";
}

a.story:hover {
	background-color: var(--spec-orange);
	color: var(--spec-black);
	transition: 0.2s;
}

.left > a:last-child, .right > a:last-child {
	border-bottom: none;
}

.article {
	padding: 30px;
	box-sizing: border-box;
	padding-bottom: 100px;
}
.article > h1 {
	font-family: Edge;
	font-weight: inherit;
}
#cont {
	word-wrap: break-word;
}

#bgCont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#bg {
	width: 150vw;
	height: 100vh;
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.bgDiv {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.05;
	transition: 0.2s;
}
.bgDiv:hover {
	opacity: 0.5;
}
.comment {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.comment > sub {
	color: var(--spec-orange);
}

.date {
	color: rgba(255, 255, 255, 0.2) !important;
}

a {
	text-decoration: none;
	color: white;
}

.youtube {
	width: 100%;
	aspect-ratio: 560/315;
	border-radius: 10px;
}