.article {
	box-sizing: border-box;
	left: 50%;
	max-width: 900px;
	padding: 30px;
	padding-bottom: 100px;
	position: absolute;
	top: 0;
	translate: -50%;
	width: 100%;
	color: var(--spec-orange);
	background-color: var(--spec-black);
}
h1, h2 {
	font-family: ClashGrotesk, sans-serif;
	font-weight: bold;
	color: inherit;
}
.article > h1 > small {
	font-style: italic;
	font-weight: lighter;
}
#cont, h3 {
	word-wrap: break-word;
	color: white;
}
#cont {
	line-height: 1.7em;
}
#cont * {
	font-family: inherit !important;;
}
#cont a {
	color: var(--spec-orange) !important;
}

.comment {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	color: white;
	margin-bottom: 10px;
	padding: 10px;
}
.comment > small:nth-child(1) {
	color: var(--spec-orange);
	margin-right: 5px;
}
.comment > small {
	margin-bottom: 10px;
}

.date {
	color: rgba(255, 255, 255, 0.2) !important;
}

.citeBtn {
	background-color: var(--spec-orange);
	border: none;
	font-family: inherit;
	font-size: inherit;
	border-radius: 100vmin;
	transition: 0.2s;
	padding: 5px 10px;
	color: var(--spec-black);
	display: block;
	color: white;
}
.citeBtn:hover {
	font-weight: bold;
	color: var(--spec-black);
}

#popup {
	color:white;
	padding:10px;
	padding-right: 20px;
	margin:0;
	margin-bottom: 20px;
	border-radius: 0 10px 10px 0;
	background-color: white;
	color: black;
	border-left: solid 3px var(--spec-orange);
}
#popup > * > b {
	font-weight: 600;
	color: black;
}
#popup > * > a {
	color: var(--spec-orange);
	text-decoration: underline;
}

#reviewerSub::before {
	content: "(";
}
#reviewerSub::after {
	content: ")";
}