.article {
	box-sizing: border-box;
	left: 50%;
	max-width: 900px;
	padding: 30px;
	padding-bottom: 100px;
	position: absolute;
	top: 0;
	translate: -50%;
	width: 100%;
	color: var(--spec-orange);
	background-color: var(--spec-black);
}
h1, h2 {
	font-family: ClashGrotesk, sans-serif;
	font-weight: bold;
	color: inherit;
}
.article > h1 > small {
	font-style: italic;
	font-weight: lighter;
}
#cont, h3 {
	word-wrap: break-word;
	color: white;
}
#cont {
	line-height: 1.7em;
}

.comment {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	color: white;
	margin-bottom: 10px;
	padding: 10px;
}
.comment > sub {
	color: var(--spec-orange);
}

.date {
	color: rgba(255, 255, 255, 0.2) !important;
}