.story {
	text-transform: uppercase;
}
sub {
	color: var(--spec-orange);
	display: block;
}
.story > sub {
	text-transform: lowercase;
	font-size: 18px;
}

.author {
	font-size: 12px;
	position: absolute;
	right: 10px;
	text-transform: capitalize;
	bottom: 5px;
}
.author::before {
	content: "(";
}
.author::after {
	content: ")";
}

a.story {
	transition: 0.2s;
}
a.story:hover {
	background-color: rgba(255, 255, 255, 0.02);
}

.left > a:last-child, .right > a:last-child {
	border-bottom: none;
}

.bigGrid {
	background-color: var(--spec-black);
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	left: 0;
	margin-bottom: 100px;
	padding-bottom: 100px;
	position: absolute;
	top: 95vh;
	width: 100%;
}
.tags {
	display: flex;
	flex-wrap: wrap;
}
.tags > button {
	background-color: transparent;
	border-radius: 100vmin;
	border: solid 3px var(--spec-orange);
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	margin: 5px;
	padding: 10px 20px;
	transition: 0.2s;
	flex: 1;
	box-sizing: border-box;
	color: white !important;
	text-decoration: line-through;
	font-style: italic;
}
.tags > .tagSelected {
	background-color: var(--spec-orange);
	color: var(--spec-black);
	opacity: 1;
	text-decoration: none;
	font-style: normal;
}
.tags > .tagSelected:hover, .tags > button:hover, .tags > button:active {
	rotate: -2deg;
	font-weight: 600;
}
.tags > button:active {
	opacity: 0.3;
}
.left, .right {
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	flex:1;
	min-width: 300px;
}
.left {
	border-right: solid 1px rgba(255, 255, 255, 0.1);
}
.story {
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	color: inherit;
	padding: 30px;
	position: relative;
	text-decoration: none;
}

.adOuter {
	position: relative;
	width: 100%;
	height: 100%;

}
.ad {
	border-radius: 100vmin;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ad > a {
	background-color: white;
	border-radius: 100vmin;
	color: var(--spec-orange);
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	max-width: 300px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.story:has(.imprint) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imprint {
	background-color: var(--spec-orange);
	padding: 5px;
	width: 100%; 	
	display: flex;
	flex-direction: column;
	margin:10px 0 10px 0;
	rotate: 3deg;
	justify-content: center;
	align-items: center;
	border-radius: 100vmin;
	max-width: 400px;
}
.imprint > * {
	margin:0;
}